<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AnalizadorSintacticoGo.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script>
        window.habilitarTabulador = function (elementoId) {
            var textarea = document.getElementById(elementoId);
            var highlight = document.querySelector('.highlight-layer');
            var lineNumbers = document.getElementById('lineNumbers');

            if (textarea) {
                textarea.addEventListener('scroll', function() {
                    if (highlight) {
                        highlight.scrollTop = this.scrollTop;
                        highlight.scrollLeft = this.scrollLeft;
                    }
                    if (lineNumbers) {
                        lineNumbers.scrollTop = this.scrollTop;
                    }
                });

                textarea.addEventListener('keydown', function (e) {
                    if (e.key == 'Tab') {
                        e.preventDefault();
                        var start = this.selectionStart;
                        var end = this.selectionEnd;

                        this.value = this.value.substring(0, start) + "    " + this.value.substring(end);
                        this.selectionStart = this.selectionEnd = start + 4;

                        this.dispatchEvent(new Event('input', { bubbles: true }));
                    }
                });
            }
        }
    </script>
</body>

</html>
